[submodule "src/libs/arguments"]
	path = src/libs/arguments
	url = git@github.com:ichlubna/arguments
[submodule "src/libs/loadingBar"]
	path = src/libs/loadingBar
	url = git@github.com:ichlubna/loadingBar
[submodule "src/libs/CudaTensorLibrary"]
	path = src/libs/CudaTensorLibrary
	url = git@github.com:ikulaatfit/CudaTensorLibrary.git
