[submodule "src/libs/arguments"]
	path = src/libs/arguments
	url = https://github.com/ichlubna/arguments.git
[submodule "src/libs/loadingBar"]
	path = src/libs/loadingBar
	url = https://github.com/ichlubna/loadingBargit
[submodule "src/libs/CudaTensorLibrary"]
	path = src/libs/CudaTensorLibrary
	url = https://github.com/ikulaatfit/CudaTensorLibrary.git
